---
const values = [
  [
    {
      ref: '01',
      name: 'Excelencia',
      description:
        'Innovación y excelencia en cada proyecto. Nos comprometemos a entregar soluciones de calidad y a superar las expectativas de nuestros clientes.',
    },
    {
      ref: '02',
      name: 'Innovación',
      description:
        'Buscamos nuevas formas de resolver problemas y mejorar procesos, apostando siempre por la creatividad y la mejora continua.',
    },
  ],
  [
    {
      ref: '03',
      name: 'Trabajo en equipo',
      description:
        'Colaboramos y valoramos el aporte de cada integrante para lograr los mejores resultados. Fomentamos un ambiente de trabajo positivo y diverso.',
    },
    {
      ref: '04',
      name: 'Respeto',
      description:
        'Valoramos a nuestros clientes, colaboradores y el entorno. Actuamos con ética y responsabilidad en todas nuestras acciones.',
    },
  ],
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-8 lg:gap-12">
  <h2 class="text-3xl font-medium tracking-tight sm:text-4xl font-heading">Valores</h2>
      <div class="grid gap-8 lg:grid-cols-2">
        {
          values.map((column, index) => (
            <div class:list={['space-y-8', index === 1 && 'lg:mt-16']}>
              {column.map((value) => (
                <div class="bg-primary-500/10 flex flex-col gap-12 rounded-3xl px-6 py-8">
                  <p class="text-sm">{value.ref}</p>
                  <div class="flex flex-col gap-4">
                    <h3 class="text-xl font-medium">{value.name}</h3>
                    <p class="text-primary-950/70 text-base sm:text-lg">
                      {value.description}
                    </p>
                  </div>
                </div>
              ))}
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
